{% extends "cal/base.html" %}

{% block content %}
    <div style="text-align: center;">
    <div style="display:inline-block; text-align: left;">
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      {% for field in form %}
    <p>{{ field.label }}  {{ field }}</p>
  {% endfor %}
    <input type="submit" name="Send email">
  </form>

  <p></p>
  <p><a href="{% url 'login' %}">Go back to login page</a></p>
    <div style="text-align: center;">
    <div style="display:inline-block; text-align: left;">
{% endblock %}
