{% extends "cal/base.html" %}


{% block content %}
    <div class="divContainer">
        <div class="registration">
            <form action="" method="post">
                {% csrf_token %}
                {% if form.email.errors %}
                    {{ form.email.errors }}
                {% endif %}
                {% for field in form %}
                    <p>{{ field.label }}  {{ field }}</p>
                {% endfor %}
                <input class="btn btn-info" type="submit" name="Send email" value="Reset Password">
            </form>
            <p></p>
            <p><a class="btn btn-info" href="{% url 'login' %}">Go back to login page</a></p>
        </div>
    </div>
{% endblock %}
