{% extends "cal/base.html" %}

{% block title %}
    Sync Events
{% endblock %}


{% block content %}
    <form action="{% url 'cal:sync_to_google' %}" method="post">
    {% csrf_token %}

        <div class="DivContainer">
            <div class="clearfix">
                <a class="btn btn-info left" href="{% url 'cal:settingsPage' %}"> Settings </a>
            </div>

            <div class="settings">
                <p> Sync events that start on or after </p>
                <input type="date" class="syncDate" id="start_date" name="start_date"><br>
                <p> and end on or before</p>
                <input type="date" class="syncDate" name="end_date" class="form"><br>
                <p></p>
                <input type="submit" value="Sync Now" class="btn btn-info"><br>
            </div>

        </div>

    </form>
{% endblock %}
